.Products {
  flex-grow: 1;
  color: black;
}

.Products .products-container {
  display: grid;
  gap: 10px;
  margin: 2rem;
  justify-items: center;
}



@media (min-width: 1200px) {
  .Products .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .Products .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Products .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .Products .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .Products .products-container {
    grid-template-columns: 1fr;
  }
}

.Products .grid-item {
  box-sizing: border-box;
  padding: 1rem;
  height: 24rem;
  max-width: 100%;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 1rem;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Products .Product-item-image-wrapper {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products .Product-item-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}


.Products .grid-item:hover {
  box-shadow: 0 0 5px 5px rgb(212, 212, 212);
  background-color: rgba(240, 240, 240, 0.65);
  border-radius: 1rem;
  cursor: pointer;
}

.Products .grid-item:hover .product-name {
  text-decoration: underline;
}

.Products .product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}