.ChartDivider {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
  align-items: center;
  font-size: smaller;
  font-style: italic;
}

.ChartDivider hr {
  flex-grow: 1;
  height: 0;
  border: 0;
  border-bottom: 1px solid gainsboro;
}